/* Definição das variáveis do CSS */
:root {
    --primary-color: rgb(42, 158, 52);
    --secondary-color: rgb(0, 0, 0);
    --tertiary-color: rgb(0, 0, 0);
    --back-color: rgb(117, 4, 4);
}
/* Resetar as configurações do navegador */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
      
      background: var(--back-color);
}

main {
    display: flex;
    width:  80%;
    margin: 0 auto;
    justify-content: space-between;
}

.box {
    align-items: flex-start;
    justify-content: space-between;
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

#red {
    background-color: var(--primary-color);
}

#green {
    background-color: var(--secondary-color);
}

#blue {
    background-color: var(--tertiary-color);
}

header {
    
    align-items: center;
    justify-content: center;
    display: flex;
}

figure img {
    height: 400px; 
    width: 500px;
}

figcaption {
    height: 250px;
}
h1 {
    
    
}